{% extends 'base.html' %}

{% block title %}
    Review
{% endblock %}

{% block body %}
    <div id="form-block">
        <form method="post" class="row row-cols-1 m-2">
            <div class="col">
                <label
                        class="form-label"
                        for="field-name"
                >Добавьте отзыв о выполненном домашнем задании:</label>
                <input
                        id="field-name"
                        class="form-control"
                        name="review-text"
                        type="text"
                        placeholder="Введите текст отзыва"
                        required="required"
                >
            </div>
            <div class="col">
                <input class="my-2 btn btn-success" type="submit" value="Добавить отзыв">
            </div>
        </form>

    </div>
    <ol>
        {% for review in reviews %}
            <li> {{ review.review_text }}</li>
        {% endfor %}
    </ol>
{% endblock %}